<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    
</body>
</html>

<h2>Login</h2>
<form method="POST" action="/auth/signin" class="formContainer">
    <div>
        <label>Email Address</label>
        <input type="email" name="email" class="input">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" class="input">
    </div>
    <input type="submit" value="Login" class="signinFormButton">
</form>