
<h2>Create New Account Here</h2>

<form method="POST" action = '/auth/signup'>
    
    <div>
        <label>User Name</label>
        <input type="text" name="username">
    </div>
    
    <div>
        <label>Email Address</label>
        <input type="email" name="email">
    </div>
    
    <div>
        <label>password</label>
        <input type="password" name="password">
    </div>

    <div>
        <label>mobile</label>
        <input type="text" name="mobile" >

    </div>

    <div>
        <label>phone</label>
        <input type="text" name="phone" >

    </div>

    <div>
        <label>adress</label> 
        <input type="text" name ="adress"> 
    </div>
    <input type="submit">
</form>