<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>recipe_ingredients layout</title>
</head>
<body class="content layoutBody">
    <header>
        <!-- <h2 class="title">Love At First Bite</h2> -->
        <img class="logo" src="/image/Love-at-first-site-logo.png" alt="">
        <h2 class="userName"><%= currentUser?.username%></h2>

        <% if(currentUser){%>
            <a href="/auth/logout" class="logoutButton">Logout</a>
            <% } %>

        <nav class="authNav">
            <% if(!currentUser){%>
                <a href="/auth/signup" class="signupButton">Signup</a>
                <a href="/auth/signin" class="loginButton">Login</a>
                <% } %>
        </nav>
    </header>

    
    <nav>
        <% if(currentUser){%>
        <a href="/recipe/add">select your recipe</a>
        <a href="/recipe/index">View your recipe</a>
        <a href="/recipe/add">select recipe/a>
        <a href="/recipe/index">View recipe</a>
        
        <% } %>
    </nav>
    <%- body %>
    <footer>Express 2023</footer>
</body>
</html