.layoutBody {
    background-color: rgb(194, 191, 191);
    margin: 0;
    /* width: 100vw; */
    max-width: 100%;

    --nav-height: 140px;
    
    padding-top: var(--nav-height);
}

header {
    background-color: rgb(30, 30, 30);
    color: rgb(253, 253, 253);
    display: flex;
    /* width: 100%; */
    height: var(--nav-height);
    position: fixed;
    top: 0;
    /* left: 0; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    width: 100vw;
    font-family: 'Caveat', cursive;

}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }
  
  .nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }
  

.title {
    display: flex;
}

.logo {
    width: 270px;
    height: 150px;
    display: flex;
    position: relative;
    bottom: 20px;
}

.userName {
    display: flex;
    position: relative;
    right: 15px;
    height: 30px;
    width: 500px;
    color: #f1f1f1;
  }
  
  .usernameContainer {
    display: flex;
  width: 300px;
  position: relative;
  left: 63%;

}

.signupButton, .loginButton, .logoutButton {
    color: #e6bb9b;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.authNav , .logoutButton {
    display: flex;
    width: 200px;
    height: 30px;
    position: relative;
    justify-content: space-around;
    top: 35px;
    left: 700px;
}

.logoutButton {
    top: 55px;
    left: 32px;
    color: #e6bb9b;
}

.navBar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* background-color: #e6bb9b; */
    font-weight: bold;
    margin: 0;
    height: 30px;
    width: 100vw;
    padding: 0;
    font-size: 20px;
}

.navContainer {
    /* display: flex; */
    width: 100vw;
    position: absolute;
    top: 110px;

}

a {
    color: #e6bb9b;
    text-decoration: none;
  }
  
  .navA:hover {
    color: #f3725d;
    scale: 1.2;
}

.usernameContainer h2 a:hover {
  scale: 1.0;
}

.hatIcon {
    position: relative;
    top: 10px;
    left: 25px;
    
}

.titleVideo {
    width: 97.6vw;
    height: 550px;
    object-fit: cover;
    margin: 10px;
    margin-right: 0;
    /* max-width: 100%; */
    position: relative;
    z-index: -1;
}
  
  li a, .dropbtn {
    display: inline-block;
    padding-bottom: 16px;
  }
  
  /* li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(56, 56, 56);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #e6bb9b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #f3725d;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .searchbar {
    transition: width 0.4s ease-in-out;
    display: flex;
    margin: 0 auto;
    height: 30px;
  }

  .searchbar:focus {
    width: 60%;
    background-color: lightblue;

  }