<h2>Add Good recipe</h2>
<form action="/recipes/add" method="post">
    <div>
        <label>category</label>
        <input type="text" name="category">
    </div>
    <div>
        <label>recipe ID</label>
        <input type="number" name="recipe_id">
    </div>
    <input type="submit" value="Add recipe">
    
</form>