<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/change-password.css">
</head>
<body>
    
    </html>
    
    <h2>Change Your Password</h2>
    <form action="/user/changepassword" method="POST" class="formContainer">
        <div class="div">
            <label>New Password</label>
            <input type="password" name="newPassword" required class="input">
        </div>
        <div class="div">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" reqiured class="input">
        </div>
        <button type="submit" value="Confirm" class="changePasFormButton">Submit</button>
    </form>
</body>