<h3>List of ingredients</h3>
<table>
    <tr>
        <th>recipe</th>
        <th>ingredients</th>
    </tr>
    <% recipe.forEach(a => { %>
       <tr>
        <td><%= recipe_id %></td>
        <td><%= w.ingredients %></td>
       </tr> 
   <% }); %>
</table>