<h2>Add new recipe</h2>
<form action="/recipe/add" method="post">
    <div>
        <label >recipe</label>
        <input type="name" name="recipe">
    </div>
    <div>
        <label >recipe</label>
        <input type="number" name="price">
    </div>
    <div>
        <label >food name</label>
        <input type="food" name="food_name">
    </div>
    
    <div>
        <label>ingredients</label>
        <input type="ingredients" name="ingredients_name" value="string" placeholder>
    </div>
    <input type="submit" value="ADD New recipe">
 <div>
        <label>recipe</label>
       <select name="recipe_id">
        <% shops.forEach((k)=>{ %>
           <option value="<%= k._id %>"><%=recipe_id%></option>
        <%}) %>
       </select>
    </div>
    <input type="submit" value="Take a recipe">
</form>