<!-- title : string,
recipe : string,
type : string,
discreption : string,
numberOfCaloires : numbder -->



<h2>Add new recipe</h2>

<form action="/recipe/add" enctype="multipart/form-data" method="post">
    <div>
        <label >title</label>
        <input type="text" name="title">
    </div>
   

    <div>
        <label >recipe</label>
        <input type="text" name="recipe">
    </div>

    <div>
        <label>category</label>
        <select name="category">
            <% category.forEach(function(category){%>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    
    <div>
        <label>discreption</label>
        <input type="text" name="discreption">
    </div>

    <div>
        <label>number of Caloires</label>
        <input type="text" name="numberOfCaloires"> 
    </div>
    
    <div>
        <label for="Upload a photo"></label>
        <input type="file" class="form-control-file" name="uploadedFile">
    </div>
    <input type="submit" value="add your dish ">
</form>
<!-- title : String,
recipe : String,
type : String,
discreption : String,
numberOfCaloires : Number -->
