<h1>details</h1>

   
       <div class="div1">
           
           <h1><%= Recipe.title %></h1>
       </div>
       <div class="div2">
           <h2><%= Recipe.numberOfCaloires %></h2>
        
       </div>
       <div class="div3">
           <h2><%= Recipe.distribution %></h2>
           <div>
            <h2><% Recipe.Recipe %></h2>
           </div>
       </div>
      
 

  

