 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/recipe-index.css">
 </head>
 <body id="recipeIndexBody">

    
     <h1>Recipes</h1>
    
  <div class="allRecipeDivCon">

      <% recipes.forEach(function(recipe){ %>
      <div class="allRecipeCon">
     
          <div class="foodImgDiv">
            <a href="/recipe/detail?id=<%= recipe._id %>" class="recipeName">
                <img src="..<%= recipe.image %>" class="foodImg">
            </a>
              
          </div>

                 <div class="div1">
                     
                     <h1 class="nameH1">
                         <a href="/recipe/detail?id=<%= recipe._id %>" class="recipeName">
                             <%= recipe.title %>
                         </a>

                    </h1>
                         
                 </div>
                 
             </div>
             <%  }) %>
  </div>   
 </body>
 </html>
 
